<!DOCTYPE html> 
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Diario de Bordo</title>
</head>

<body>
    <main>
        <div id="letra">
            <h1 id="l1">Login:</h1>
            <div id="central">
                <form action="/logar" method="post">
                    <label for="ra"> RA:</label> 
                    <input type="text" id="ra" name="ra" maxlength="8" required>
                    <input id="envia" type="submit" value="Enviar"> 
                </form>
            </div>
        </div>
    </main>
</body>
</html>